a.navbar-brand{
    color:antiquewhite;
}

a.nav-link{
    color: antiquewhite;
}
li.nav-item{
    color:antiquewhite;
}
.back-image{
    background-image: url('sky.jpg');
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:620px;
}
div.container{
    color:rgb(246, 148, 19);
    margin-top: 10px;
    padding:10px;
    padding-bottom:20px;
}
#mask{
    background-color: rgba(0, 0, 0, 0.388);
}
.card{
    color:rgb(43, 13, 160)
}
.general{
    color:antiquewhite;
    padding:10px;
    padding-left:60px;
}
.hr{
    color:rgb(221, 250, 215);
}